@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", "ui-sans-serif", "system-ui";
  --animate-fadeIn: fadeIn 0.3s ease-out forwards;
  --animate-dropdownIn: dropdownIn 200ms ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes dropdownIn {
    0% {
      opacity: 0;
      transform: scale(95%) translateY(-0.25rem);
    }
    100% {
      opacity: 1;
      transform: scale(100%) translateY(0);
    }
  }
}
